# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Anaconda / Python virtual environments
env/
.venv/
venv/
env.bak/
.python-version

# Jupyter Notebook
.ipynb_checkpoints/

# Local development configuration
.vscode/
.idea/